<section id="contact">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p>I am very excited about augmenting stord.io with lightweight features that will align with the project’s minimalist philosophy. Here are some ideas I’m working on:
                <ul>
                <li><strike>https</strike> (Done! Thanks to <a href="https://letsencrypt.org/">Let’s Encrypt</a>)</li>
                <li>Searching of keys and values</li>
                <li>Bulk download/upload (giving us backup and restore)</li>
            </ul>
            Am I missing a killer feature? Let me know and I’ll probably put it in!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>

</section>
