<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>key/value</h3>
                    <p class="text-muted">
                        Stord.io is a key/value store. This is often modelled as a hashmap or a dictionary in programming languages.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Rock-solid technology</h3>
                    <p class="text-muted">
                        Under the hood, stord.io is powered by the proven and scalable Redis database, with a thin python application wrapper, based on Flask.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to scale</h3>
                    <p class="text-muted">
                        All operations complete in <code>O[1]</code>, and do not slow down, no matter what database size you grow to.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sliders wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Flexible</h3>
                    <p class="text-muted">
                        Any string data can be stord. Stord.io doesn’t assume anything about your data, make whatever schema you want!
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
