<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='https://cloud.githubusercontent.com/assets/114097/12648354/85c6710a-c5d1-11e5-95c6-05603b1ef39a.png'/>
            <hr>
            <p>A key-value REST collection for simple web apps. </p>

            <a href="http://stord.io/signup" class="btn btn-default btn-xl ">Email me a key</a>
            <br/>
            <br/>
            <br/>
            <a class="page-scroll" href="#about"><i class="fa fa-4x fa-arrow-down" ></i></a>
        </div>
    </div>
</header>
