<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Plans</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-moon-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h1>
                        
                    <form action="{{ url_for('signup') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                    data-image="https://cloud.githubusercontent.com/assets/114097/12648354/85c6710a-c5d1-11e5-95c6-05603b1ef39a.png"
                    data-name="stord.io"
                    data-description="Monthly Subscription"
                    data-amount="100"
                    data-locale="auto"
                    data-panel-label="Subscribe @"
                    data-label="$1 / Month"
                    data-bitcoin=true
                    data-alipay=true>
                  </script>
                </form></h1>
                    <p class="text-muted">
                        Try out stord.io for an amount of money so small, my payment provider classes it as <i>"not very cost-effective"!</i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sun-o wow bounceIn text-primary"></i>
                    <h1><form action="{{ url_for('signup') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                    data-image="https://cloud.githubusercontent.com/assets/114097/12648354/85c6710a-c5d1-11e5-95c6-05603b1ef39a.png"
                    data-name="stord.io"
                    data-description="Yearly Subscription"
                    data-amount="900"
                    data-locale="auto"
                    data-panel-label="Subscribe @"
                    data-label="$9 / Year"
                    data-bitcoin=true
                    data-alipay=true>
                  </script>
                </form></h1>
                    <p class="text-muted">
                        Or go for the super-value yearly plan. Save 25%!
                    </p>
                </div>
            </div>

        </div>
        <hr/>
        <div class="container text-center">
          <div class="call-to-action">
              <p>(these are in test mode, sign-ups coming soon!)</p>
          </div>
      </div>
        
    </div>
</section>
