<section id="start">
  <aside class="bg-dark">
      <div class="container">
          <div class="call-to-action">
              <center>
              <h2>How it works</h2>
              </center>
              <table class="table">
                <thead>
                <tr>
                  <th>http verb</th>
                  <th>endpoint</th>
                  <th>params</th>
                  <th>desription</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><kbd>POST</kbd></td>
                  <td><kbd>/key/</kbd></td>
                  <td><kbd>mykey=hello</kbd></td>
                  <td>create a new item</td>
                </tr>
                <tr>
                  <td><kbd>GET</kbd></td>
                  <td><kbd>/key/mykey</kbd></td>
                  <td></td>
                  <td>get an item</td>
                </tr>
                <tr>
                  <td><kbd>PUT</kbd></td>

                  <td><kbd>/key/mykey</kbd></td>
                  <td><kbd>value=new_value</kbd></td>
                  <td>update an item</td>
                </tr>
              </tbody>
              </table>
              <p>That's it!</p>
              <hr/>
              <center>
              <h2>To get going, get an api key and start hacking!</h2>
              <a href="http://stord.io/signup" class="btn btn-default btn-xl wow tada">Email me a key</a>
              </center>
          </div>
      </div>
  </aside>
</section>
