<section id="start">
  <aside class="bg-dark">
      <div class="container">
          <div class="call-to-action">
              <h2>How it works</h2>
              <p>To create a new item, <code>POST</code> <kbd>mykey=hello</kbd> to <kbd>/key/</kbd>.</p>
              <br>
              <p>To update it, <code>PUT</code> <kbd>value=new_value</kbd> to <kbd>/key/mykey</kbd>.</p>
              <br/>
              <p>That's it!</p>
              <table class="table">
                <thead>
                <tr>
                  <th>http verb</th>
                  <th>params</th>
                  <th>endpoint</th>
                  <th>desription</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>POST</td>
                  <td>mykey=hello</td>
                  <td>/key/</td>
                  <td>create a new item</td>
                </tr>
                <tr>
                  <td>GET</td>
                  <td></td>
                  <td>/key/mykey</td>
                  <td>get an item</td>
                </tr>
                <tr>
                  <td>PUT</td>
                  <td>value=new_value</td>
                  <td>/key/mykey</td>
                  <td>update an item</td>
                </tr>
              </tbody>
              </table>
              <div class="center-block">
              <h2>To get going, get an api key and start hacking!</h2>
              <a href="http://stord.io/signup" class="btn btn-default btn-xl wow tada">Email me a key</a>
              </div>
          </div>
      </div>
  </aside>
</section>
