<section id="start">
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>How it works</h2>
              <p>To create a new item, <code>POST</code> <kbd>mykey=hello</kbd> to <kbd>/key/</kbd>.</p>
              <br>
              <p>To update it, <code>PUT</code> <kbd>value=new_value</kbd> to <kbd>/key/mykey</kbd>.</p>
              <br/>
              <p>That's it!</p>
              <h2>To get going, get an api key and start hacking!</h2>
              <a href="http://stord.io/signup" class="btn btn-default btn-xl wow tada">Email me a key</a>

          </div>
      </div>
  </aside>
</section>
