<section class="bg-primary" id="usage">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1>Examples</h1>
                <br/>
                <br/>
                <h2 class="section-heading">httpie</h2>
                <script src="https://gist.github.com/0atman/ad209d39740f4545f4baf85f6697b144.js"></script>
                <hr class="light">
                <br/>

                 <h2 class="section-heading">Python</h2>
                <script src="https://gist.github.com/0atman/24d12df686c3e25473f0d6872840ca4a.js"></script>
                <hr class="light">
                <br/>

                <h2 class="section-heading">Ruby</h2>
                <script src="https://gist.github.com/0atman/23f57876b44067efbe1c2a002f7452b7.js"></script>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
