  <html>
  <head>
  <style type="text/css">
    /* Styles adapted from http://bettermotherfuckingwebsite.com */
    body {
      margin:40px auto;
      max-width:650px;
      line-height:1.6;
      font-size:18px;
      color:#444;
      padding:0 10px
  }
  h1,
  h2,
  h3 {
      line-height: 1.2
  }
  code {
    font-family: monospace;
    background-color: eee;
  }
  </style>
  </head>
  <body>
    <div class="markdown-body">
      Here is your new stord.io api key:
      <br/>

      <code>
      {{ key }}
      </code>

    <p>
      Take a look at the documentation at <a href="http://www.stord.io">www.stord.io</a>,
      though there's not much to learn about a key/value REST collection
      (I think I just explained it in four words).
    </p>

    <p>
      If you have any questions or feature requests,
      drop me a line at <a href="mailto:oatman@stord.io">oatman@stord.io</a>.
    </p>

    <p>
      Thanks so much, enjoy!
    </p>

    </div>
    (If you did not make this request, or don't want to use stord.io, no further action is required. The requester cannot use the service without the api key, nor is your email address used other than to send this email.)
  </body>
</html>
